@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");

$colors: (
    primary-background: #e0f0f1,
    btn-background: #f2f2f9,
    btn-border: #96a4bb,
    btn-font-color: #354458,
);

$font: "Open Sans";


