@import '../../style.scss';
@import "../action-buttons-style.scss";


.add-task {
	width: 80%;
	margin: auto;
	overflow: hidden;
	margin-bottom: 40px;
}

.edit-input {
	font-size: inherit;
	margin-left: 27px;
	margin-right: 40px;
	padding: 8px 10px;
	width: 40%;
}

.save-btn {
	@extend .action-btn
}